// 整个header高度
$header-height:80px;
// 头上半部分高度
$header-top-height:46px;
// tablist 高度
$tablist-height:34px;
// 头部下半部分高度
$menu-expand-width:185px;
// 中间折起按钮高度
$menu-collapse-width:65px;
// 底部折起按钮高度
$bottom-control-height:40px;
// 面包屑高度
$breadcrumb-height:30px;
